@page
@model CIE206_ExampleProject.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
}

<h2>Welcome, @Model.user.username </h2>
<img width="200" src="../images/Hi_for_admin.gif"/>

<br />
<br />

<form method="post">
    <input type="submit" class="btn btn-danger" value="Logout" asp-page-handler="Logout" />
</form>