@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome, @Model.user.username!</h2>

<img width="400" src="images/Hi_for_regular_user.gif" />

<form method="post">
    <input type="submit" class="btn btn-danger" value="Logout" asp-page-handler="Logout" />
</form>